@import 'variables';

.jspScrollable {
  &.scrollbar-left {
    .jspVerticalBar {
      left: 0;
    }
  }
  .jspVerticalBar {
    width: 12px;
    background: none;
    .jspTrack {
      border-radius: 50px;
      background: $color-scroll-track-background;
      .jspDrag {
        border-radius: 50px;
        background: $color-scroll-drag-background;      
      }
    }
  }
}