$color_background: #353535;
$color_text: #e2e2e2;

$color_red: #ff0000;
$color_white: #ffffff;

// Scrollbars
$color-scroll-track-background: rgba(222,222,222,0.75);

// Feed
$color-feed-background: rgba(0,0,0,0.85);
$color-feed-date: #cacaca;