export default {
    "locale": "en",
	"open_weather_map": {
        "api_key": "",
        "city_id": ""
    },
	"unsplash": {
		"update_daily": true,
		"keywords": []
	},
	"search_engines": [
        {
            "title": "Google",
            "font_awesome_icon": "fa-google",
            "icon_url": "",
            "search_url": "https://www.google.com/search?q="
        },
        {
            "title": "Duckduckgo",
            "font_awesome_icon": "",
            "icon_url": "https://duckduckgo.com/assets/logo_header.v108.svg",
            "search_url": "https://duckduckgo.com/?q="
        }
    ],
	"rss_feed": {
        "items_per_feed": null,
        "feeds": []
	},
	"shower_thoughts": {
        "items_per_feed": 5,
        "feed": "https://www.reddit.com/r/Showerthoughts/top.rss?t=day"
    }
}
